<app-header-page></app-header-page>
<section class="services-section">
    <div class="services-header">
        <h5>━━ SERVICES ━━</h5>
        <h2>Our Services</h2>
    </div>
    <div class="services-container">
        <div class="service-card">
            <!-- <i class="icon globe-icon">🌍</i> -->
            <p>🌍</p>
            <h3>WorldWide Tours</h3>
            <p>WorldWide Tours provides unique global travel experiences.</p>
        </div>
        <div class="service-card">
            <!-- <i class="icon hotel-icon">🏨</i> -->
            <p>🏨</p>
            <h3>Hotel Reservation</h3>
            <p>Effortless hotel reservation for your perfect stay always.</p>
        </div>
        <div class="service-card">
            <!-- <i class="icon guide-icon">👤</i> -->
            <p>👤</p>
            <h3>Travel Guides</h3>
            <p>Comprehensive travel guides offer expert insights and tips for exploring new destinations.</p>
        </div>
        <div class="service-card">
            <!-- <i class="icon event-icon"></i> -->
            <p>📅</p>
            <h3>Event Management</h3>
            <p>Event management specializes in planning and executing memorable experiences.</p>
        </div>
    </div>
</section>
<app-footer-page></app-footer-page>