<app-header-page></app-header-page>
<section class="about-section">
    <div class="about-image">
        <img src="../assets/about.jpg" alt="Tourist Image">
    </div>
    <div class="about-content">
        <h3>━━━ About Us ━━━</h3>
        <h2>Welcome to <span class="highlight">Your Travel Partner</span></h2>
        <p>Featuring 3- and 4-night voyages, the ship offers magical days at sea as it sets sail from Singapore.</p>
        <p>Get ready to experience an enchanting cruise holiday on a grand scale. Brimming with fun and relaxation,
            world-class entertainment, themed dining experiences and exceptional Guest service, the Disney Adventure is
            both the journey and the destination.</p>
        <div class="features">
            <ul>
                <li>➤ First Class Flights</li>
                <li>➤ 5 Star Accommodations</li>
                <li>➤ 150 Premium City Tours</li>
            </ul>
            <ul>
                <li>➤ Handpicked Hotels</li>
                <li>➤ Latest Model Vehicles</li>
                <li>➤ 24/7 Service</li>
            </ul>
        </div>
        <button class="read-more-btn-1">Read More</button>
    </div>
</section>
<app-footer-page></app-footer-page>